<div class="top-row">
    <img src="Image/logo-negocio-png.png" class="logoNav" alt="logo negocio!!" />
</div>

<div class="fontNav">
    <MatNavMenu>
        <MatNavItem Href="" Title="Inicio">
            <MatIcon Icon="folder" />&nbsp;Inicio
        </MatNavItem>

        <MatNavSubMenu>
            <MatNavSubMenuHeader Title="Ordenes de Trabajo">
                <MatNavItem AllowSelection="false">
                    <MatIcon Icon="folder" />&nbsp;Ordenes de Trabajo
                </MatNavItem>
            </MatNavSubMenuHeader>
            <MatNavSubMenuList>
                <MatNavItem Href="OrdenTrabajo/" Title="Orden de Trabajo">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Ordene de Trabajo
                    </MatNavItem>
                </MatNavItem>
                <MatNavItem Href="Cotizacion/" Title="Cotización">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Cotización
                    </MatNavItem>
                </MatNavItem>
                <MatNavItem Href="SeguimientoOT/" Title="Seguimiento OT">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Seguimiento OT
                    </MatNavItem>
                </MatNavItem>
            </MatNavSubMenuList>
        </MatNavSubMenu>

        <MatNavSubMenu>
            <MatNavSubMenuHeader Title="Productos">
                <MatNavItem AllowSelection="false">
                    <MatIcon Icon="folder" />&nbsp;Productos
                </MatNavItem>
            </MatNavSubMenuHeader>
            <MatNavSubMenuList>
                <MatNavItem Href="Producto/" Title="Productos">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Productos
                    </MatNavItem>
                </MatNavItem>
               @* <MatNavItem Href="Marca/" Title="Marca">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Marca
                    </MatNavItem>
                </MatNavItem>*@
                <MatNavItem Href="RegistroInventario/" Title="Registro de Inventarios">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Registro de Inventarios
                    </MatNavItem>
                </MatNavItem>
                <MatNavItem Href="RegistroFactura/" Title="Registro de Facturas">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Registro de Facturas
                    </MatNavItem>
                </MatNavItem>
            </MatNavSubMenuList>
        </MatNavSubMenu>

        <MatNavItem Href="Empleado/" Title="Empleado">
            <MatIcon Icon="folder" />&nbsp;Empleados
        </MatNavItem>

        <MatNavItem Href="Cliente/" Title="Cliente">
            <MatIcon Icon="folder" />&nbsp;Clientes
        </MatNavItem>

        @*<MatNavItem Title="Consulta">
            <MatIcon Icon="folder" />&nbsp;Consulta
        </MatNavItem>*@
    </MatNavMenu>
</div>