<div class="top-row">
    <img src="Image/logo-negocio-png.png" class="logoNav" alt="logo negocio!!" />
</div>

<div class="fontNav">
    <MatNavMenu>
        <MatNavItem Href="" Title="Sistema de gestión">
            <MatIcon Icon="account_balance" />&nbsp;SISTEMA DE GESTIÓN
        </MatNavItem>

        <MatNavItem Href="Rentas/Renta" Title="Generar Renta">
            <MatIcon Icon="folder_open" />&nbsp;Generar Renta
        </MatNavItem>
        <MatNavItem Href="Rentas/Entregas" Title="Entregas">
            <MatIcon Icon="folder_open" />&nbsp;Entregas
        </MatNavItem>

        <MatNavSubMenu>
            <MatNavSubMenuHeader Title="Rentas">
                <MatNavItem AllowSelection="false">
                    <MatIcon Icon="folder" />&nbsp;Rentas
                </MatNavItem>
            </MatNavSubMenuHeader>
            <MatNavSubMenuList>
                <MatNavItem Href="Rentas/Consultas" Title="Consultas">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Consultas
                    </MatNavItem>
                </MatNavItem>
                <MatNavItem Href="Rentas/MasRentados" Title="Equipos mas rentados">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Equipos mas rentados
                    </MatNavItem>
                </MatNavItem>
            </MatNavSubMenuList>
        </MatNavSubMenu>

        <MatNavSubMenu>
            <MatNavSubMenuHeader Title="Productos">
                <MatNavItem AllowSelection="false">
                    <MatIcon Icon="folder" />&nbsp;Productos
                </MatNavItem>
            </MatNavSubMenuHeader>
            <MatNavSubMenuList>
                <MatNavItem Href="Rentas/Producto" Title="Productos">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Productos
                    </MatNavItem>
                </MatNavItem>
                <MatNavItem Href="Rentas/Existencias" Title="Registro Existencias">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Registro Existencias
                    </MatNavItem>
                </MatNavItem>
            </MatNavSubMenuList>
        </MatNavSubMenu>

        <MatNavItem Href="Rentas/ClientesRenta" Title="Clientes / Referencias">
            <MatIcon Icon="folder" />&nbsp;Clientes / Referencias
        </MatNavItem>
    </MatNavMenu>
</div>