<div class="top-row">
    <img src="Image/logo-negocio-png.png" class="logoNav" alt="logo negocio!!" />
</div>

<div class="fontNav">
    <MatNavMenu>
        <MatNavItem Href="" Title="Sistema de gestión">
            <MatIcon Icon="account_balance" />&nbsp;SISTEMA DE GESTIÓN
        </MatNavItem>

        <MatNavSubMenu>
            <MatNavSubMenuHeader Title="Productos">
                <MatNavItem AllowSelection="false">
                    <MatIcon Icon="folder" />&nbsp;Productos
                </MatNavItem>
            </MatNavSubMenuHeader>
            <MatNavSubMenuList>
                <MatNavItem Href="Producto/" Title="Productos">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Productos
                    </MatNavItem>
                </MatNavItem>
                <MatNavItem Href="RegistroInventario/" Title="Registro de Existencias">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Registro de Existencias
                    </MatNavItem>
                </MatNavItem>
            </MatNavSubMenuList>
        </MatNavSubMenu>

        <MatNavSubMenu>
            <MatNavSubMenuHeader Title="Rentas">
                <MatNavItem AllowSelection="false">
                    <MatIcon Icon="folder" />&nbsp;Rentas
                </MatNavItem>
            </MatNavSubMenuHeader>
            <MatNavSubMenuList>
                <MatNavItem Href="Producto/" Title="Generar renta">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Generar renta
                    </MatNavItem>
                </MatNavItem>
                <MatNavItem Href="Producto/" Title="Entregas de equipos">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Entregas de equipos
                    </MatNavItem>
                </MatNavItem>
                <MatNavItem Href="RegistroInventario/" Title="Rentas vencidas">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Rentas vencidas
                    </MatNavItem>
                </MatNavItem>
                <MatNavItem Href="RegistroInventario/" Title="Rentas activas">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Rentas activas
                    </MatNavItem>
                </MatNavItem>
                <MatNavItem Href="RegistroInventario/" Title="Equipos mas rentados">
                    <MatNavItem AllowSelection="false">
                        <MatIcon Icon="folder_open" />&nbsp;Equipos mas rentados
                    </MatNavItem>
                </MatNavItem>
            </MatNavSubMenuList>
        </MatNavSubMenu>
    </MatNavMenu>
</div>