@page "/"

<div>
    <img src="Image/logo-negocio-letras.png" class="logoInicio" alt="logo negocio!!" />

    <center><h4>Bienvenido al sitio de gestión para los procesos de trabajo del negocio.</h4></center>
</div>
