@page "/"

<h1>Pantalla Inicio!!!</h1>

<div>
    <img src="Image/logo-negocio-letras.png" class="logoInicio" alt="logo negocio!!" />
</div>

Bienvenido al sitio de gestión para los procesos de trabajo del negocio.